.message {
    display: flex;
    max-width: 588px;

    gap: 8px;
    margin-top: 12px;
    padding: var(--standart-padding);
    &.isMe {
        justify-content: flex-end;
        margin-left: auto;
    }
    .message__info {
        .message__text_block {
            display: inline-flex;
            position: relative;
            min-width: 250px;

            padding: 8px 12px;

            background: var(--ui-background);
            
            border-radius: var(--standart-border-radius);
            .message__text {
                margin-top: 4px;
                margin-right: 10px;
            }
            .message__edited {
                margin-left: auto;
                font-size: 12px;
                line-height: 9px;
                & > span:first-child {
                    color: var(--files);
                    text-decoration: underline;
                }
            }
        }
    }
}

@media screen and (max-width: 1009px) {
    .message {
        max-width: 400px;
    }
}
@media screen and (max-width: 830px) {
    .message {
        max-width: 200px;
    }
}
