.dateBlock {
    display: flex;
    margin-left: auto;
    justify-content: center;
    align-items: center;

    font-size: 12px;
    line-height: 16px;

    img {
        margin-left: 4px;
        color: var(--main-color);
    }
}
