.date {
    padding: 8px 16px;

    margin-top: 12px;
    color: var(--main-color);

    font-size: 12px;
    line-height: 16px;
    text-align: center;
    background-color: var(--main-color-light);
}
