.charItem {
    display: flex;

    padding: 12px 16px;
    gap: 16px;

    .charItem__info {
        position: relative;

        .charItem__fullname {
            font-weight: 700;
        }
        .charItem__message {
            margin-top: 2px;

            color: var(--text-80);
        }
        .charItem__time {
            position: absolute;
            top: 0px;
            right: 0px;

            color: var(--text-80);
            font-size: 13px;
        }
    }
}

.charItem.selected {
    background-color: var(--selected-background);
}
.charItem:hover {
    background: var(rgba(32, 31, 30, 0.04));
}
