.newMessage {
    margin-top: 12px;
    padding: 4px 10px;

    color: var(--main-color);

    font-size: 12px;
    line-height: 16px;
    text-align: center;
    background-color: var(--main-color-light);
}
